<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Verse</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {{> navbar}}
    
    <div class=""container mt-5">
        {{{body}}}
    </div>

    <script src="/public/js/login.js"></script> 
    <script src="/public/js/new-post.js"></script>
    <script src="/public/js/dashboards.js"></script>
     

</body>
</html>